{% extends 'base.html' %}
{% block title %}Удаление рассылки{% endblock %}
{% block content %}
    <h1>Удаление рассылки</h1>
    <div class="alert alert-danger">
        <p>Вы уверены, что хотите удалить рассылку с темой <strong>{{ object.message.subject }}</strong>?</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Подтвердить удаление</button>
        <a href="{% url 'mailing_app:mailing_detail' object.pk %}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock %}
